body
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

h1
{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 6em;
    color: transparent;
    background: linear-gradient(90deg, #f00, #ff0, #0ff, #0f0, #00f);
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-size: 1000%;
    animation: animate 20s linear infinite;
}

@keyframes animate 
{
    0%
    {
        background-position: 0% 100%;
    }
    
    50%
    {
        background-position: 100% 0%;
    }
    
    100%
    {
        background-position: 0% 100%;
    }
}