* 
{
    margin: 0;
    padding: 0;
}

body
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:  center;
    background: #323131;
}

.pulse
{
    border: 1px solid rgb(147, 142, 142);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ee4d2d;
    display: flex;
    align-items: center;
    justify-content:  center;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    animation: animate 2s infinite linear;
}

@keyframes animate {
    0%
    {
        box-shadow: 0 0 0 0 rgba(241, 108, 13, 0);
    }
    40%
    {
        box-shadow: 0 0 0 30px rgba(241, 108, 13, .7);
    }
    80%
    {
        box-shadow: 0 0 0 70px rgba(241, 108, 13, 0),0 0 0 0 rgba(241, 108, 13, 0);
    }
    85%
    {
        box-shadow: 0 0 0 70px rgba(241, 108, 13, 0),0 0 0 10px rgba(241, 108, 13, .7);
    }
    100%
    {
        box-shadow: 0 0 0 0 rgba(241, 108, 13, 0),  0 0 0 30px rgba(241, 108, 13, 0);
    }
}