*
{
    padding: 0;
    margin: 0;
}

body
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1
{
    font-size: 8em;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    width: 100vw;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/RainAnimationImage/blonde-woman-coat-standing-street-night.jpg);
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}